
/* || GENERAL STYLES */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: thistle;
    color: black;   
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    text-align: left;
    list-style:square; 
}

li {
    margin: 16px 16px 16px 15%;
    
}

h2 {
    background-color: lightgreen;
    border: 5px solid slategray;
    margin: 5%;
    margin-bottom: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

summary {
    list-style: none;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;   
}

/* || QUIZ PAGE STYLES */

.questions-and-answers {
    padding-top: 2%;
    padding-left: 5%;
}

.button {
    background-color: lightgreen;
    border: 4px solid slategray;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
}

/* || QUIZ PAGE NAVIGATION */

nav {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*
@media (max-width: 400px) {
    body {
        background-color: white; 
    }
}
*/

@media (min-width: 401px) {
    body {
        background-color: thistle;
        text-align:center;
    }
    article {

        text-align:center;
    }
   

}
